@import 'tailwindcss';

@keyframes bottomBounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-bottom-bounce {
  animation: bottomBounce 1s infinite ease-in-out;
}
